main section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.3rem 1rem 1rem;
    overflow: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

main .highlights {
    margin: 1rem 0 3rem;
}

main section div {
    min-width: 200px;
    height: 250px;
    background-color: white;
    border: 1.3px solid black;
    box-shadow: 0px 0px 2px teal;
    margin: 0 0.5rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-end;
}

main section div h4 {
   font-weight: lighter;
   font-family: sans-serif;
   padding: 0.3rem;
}

main section div button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.2rem 0.6rem;
    border: none;
    margin: 0 0.5rem;
}

main h2 {
    background-color: teal;
    height: 330px;
    margin-bottom: -19rem;
    width: 40%;
    font-size: 1.3rem;
    padding: 0.5rem 0 0;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    font-family: sans-serif;
    font-weight: lighter;
    border-radius: 0 5px 5px 0;
}