.form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form fieldset {
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: white;
    padding: 0.2rem 0.5rem 0.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form fieldset > legend {
    color: teal;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.form input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 90%;
    margin-bottom: 0.2rem;
    background-color: white;
}

.error, .message, .noBlogsForDate {
    width: 95%;
    padding: 3rem 0;
    margin: 2rem auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.form > legend {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.form button {
    background-color: teal;
    padding: 1rem;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 5px;
    color: white;
}

.blog {
    margin: 1rem 1rem 2rem;
    box-shadow: 0px 0px 3px black;
    padding: 0.4rem;
    border-radius: 6px;
}

.blog > h2 {
    padding: 0.3rem 0.4rem 0.4rem;
}

.blog .share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem 1rem 0.4rem;
    border-top: 1.7px solid teal;
    border-radius: 10px 10px 0px 0px;
}

.blog .share > span {
    margin-right: 1rem;
    color: gray;
}

.blog .share button {
    margin-right: 0.4rem;
}

.blog img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.blog p {
    text-align: justify;
    padding: 0.3rem 0.2rem;
    font-size: 1.2rem;
    height: 150px;
    overflow: auto;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.8);
}

.blog p::first-letter {
    text-transform: uppercase;
}

.blog h4 {
    color: gray;
    margin: 1rem 0.5rem 0;
    border-bottom: 1.7px solid teal;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 0.4rem;
}

.blog h4 span {
    color: black;
    font-size: 1rem;
    box-shadow: 0px 0px 2px black;
    padding: 0.3rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: inline-block;
}

.continue {
    background-color: teal;
    border: none;
    padding: 0.3rem 0.7rem;
    color: white;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.blog button > i {
    margin-right: 0.2rem;
    box-shadow: 0px 0px 2px black;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
}

.blog .rate {
    padding: 0.3rem 0 0 0.5rem;
}

.blog .rate button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.rate .like i {
    color: green;
}

.heart i {
    color: #e0245e; 
}

.laugh i {
    color: #f7b928; 
}

.dislike i {
    color: #65676b;
}

.blogsNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
}

.blogsNavigation > button {
    border: 1.5px solid white;
    box-shadow: 0px 0px 3px black;
    padding: 0.5rem;
    background-color: teal;
    border-radius: 5px;
    color: white;
}

.blogsNavigation > input {
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

.userInfo > ul {
    list-style-type: none;
    box-shadow: 0px 0px 3px black;
    padding: 0.5rem 1rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.userInfo > ul li {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.userInfo > ul li span {
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0px 0px 3px;
    margin-right: 0.5rem;
}

.userInfo > ul h2 {
    margin-bottom: 0.5rem;
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid grey;
}

.loginContent > div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.loginContent div > span {
    margin-right: 0.5rem;
}

.loginContent a {
    color: teal;
}

.loginContent > span {
    background-color: white;
    padding: 1rem 1rem 0;
}

.loginContent button {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    background-color: transparent;
    color: black;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 1.7rem;
}

.loginContent button > i {
  background: linear-gradient(
    45deg,
    #4285F4,
    #EA4335,
    #FBBC05,
    #34A853
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form a {
   margin-bottom: 0.5rem;
   color: teal;
}

.formSettings {
   width: 80%;
   margin: 0.7rem auto;
   padding: 0.5rem;
   box-shadow: 0px 0px 3px black;
   border-radius: 5px;
}

.formSettings input {
    border: none;
    outline: none;
    margin: 0;
    font-size: 1rem;
}

.formSettings fieldset {
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}

.formSettings legend {
    padding: 0 0.5rem;
}

.formSettings button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
}