* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: sans-serif;
}

.loading {
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: 50%;
  text-align: center;
  border: 1.5px solid black;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}