header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}