.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navs {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-top: 3rem;
    padding: 0.4rem 0;
    position: sticky;
    top: 3rem;
    background-color: white;
}