.Nav {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    list-style-type: none;
    background-color: white;
    scrollbar-width: none;
    margin-left: 0.2rem;
}

.Nav::-webkit-scrollbar {
    display: none;
}

.NavLinks {
    padding: 0.3rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0.3rem;
    border: 1.3px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    box-shadow: 0px 0px 2px teal;
}

.NavLinks-active {
    padding: 0.3rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0.3rem;
    border-radius: 4px;
}