.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px teal;
}

.container .usersCount {
    text-align: center;
    background-color: teal;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    flex-basis: 20%;
}

.container .advert {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container .advert > div {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.container h3 {
    white-space: nowrap;
    padding-right: 60px;
    font-size: 18px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/*.icon {
    flex-grow: 1;
    padding: 0.7rem 0;
}

.socials div {
    text-align: center;
    background-color: white;
}

.socials i {
    font-size: 1.9rem;
}

.whatsapp {
    color: #25D366;
}

.twitter {
    color: #000000;
}

.instagram {
    background: linear-gradient(
        45deg,
        #833AB4,
        #E1306C,
        #FD1D1D,
        #FCAF45
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.tiktok {
    background: linear-gradient(
        45deg,
        #69C9D0,
        #EE1D52
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

<div className='whatsapp icon'>
             <i className="fa-brands fa-whatsapp"></i>
          </div>
          <div className='instagram icon'>
             <i className="fa-brands fa-instagram"></i>
          </div>
          <div className='twitter icon'>
             <i className="fa-brands fa-x-twitter"></i>
          </div>
          <div className='tiktok icon'>
             <i className="fa-brands fa-tiktok"></i>
          </div>

          */